.kensaku-h{
    color: rgba(177, 100, 10, 0.78);
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
    margin-top: 50px;
}
.kensakuran{
    padding-left: 100px;
    padding-top: 50px;
}
.kensaku-rei{
    color: rgba(177, 100, 10, 0.78);
    text-align: left;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}

.okaras-container{
    padding-left: 100px;
    color: rgba(177, 100, 10, 0.78);
    padding-top: 80px;
}

.kensaku-itiran{
    padding-left: 100px;
    padding-top: 20px;
}
.kensaku-itiran :hover {
    color: rgba(170, 131, 86, 0.5);
}